<%- include('header') %>
<div class="container">
    <div class="form">
        <h2>Your submission was successfully added to your documents</h2>
        <p>Your file is ready. Click the button below to download:</p>
        <a href="/download/<%= tempFileName %>" download class="submit-button">Download Your File</a>
    </div>
</div>
<%- include('footer') %>
